<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dashboard.module.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <div class="dashboard-container">
                <div class="dashboard-stats-box align-center">
                    <div class="dashboard-stat-number align-center">3254</div>
                    <div class="dashboard-stat-desc align-center">Total Number of Users</div>
                </div>
                <div class="dashboard-stats-box align-center">
                    <div class="dashboard-stat-number align-center">3254</div>
                    <div class="dashboard-stat-desc align-center">Total Number of Reported Users</div>
                </div>
                <div class="dashboard-stats-box align-center">
                    <div class="dashboard-stat-number align-center">3254</div>
                    <div class="dashboard-stat-desc align-center">Total Number of Posts</div>
                </div>
                <div class="dashboard-stats-box align-center">
                    <div class="dashboard-stat-number align-center">3254</div>
                    <div class="dashboard-stat-desc align-center">Total Number of Reported Posts</div>
                </div>
        </div>
    </main>
</body>
</html>