*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(27, 25, 25);
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(59, 56, 56);
    margin: auto;
    width: 55%;
    height: 50.0rem;
    border: 0.1px solid white;
    height: 100vh;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2.0rem auto 0 auto;
    width: 97%;

    background: #353B48;
    box-shadow: 0px 0px 1.5rem -0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.dashboard-stats-box {
    display: flex;
    flex-direction: column;
    max-width: 135px;
    height: 15.1rem;

}

.dashboard-stat-number {
    margin: 0 0.5rem 1.9rem 0.5rem;
    font-weight: 600;
    font-size: 40px;
    line-height: 4.841rem;
    letter-spacing: 0.1rem;

    color: #FFFFFF;
}

.dashboard-stat-desc {
    text-align: center;
    margin: 0 0.1rem;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* for medium to small devices  */
@media only screen and (max-width: 600px){
    .dashboard-stat-number {
        font-size: 30px;
    }
    .dashboard-stat-desc {
        font-size: 15px;
    }

    .dashboard-stats-box {
        height: 10.1rem;
    }
    .dashboard-stat-number {
        margin: 0 0.5rem 0 0.5rem;
    }
}
